<lm-template>
  <ng-template #header>
  	<lm-header class="lm-header-fixed" [left-options]="{ showBack: false }" [right-options]="{ showMore: false }">
  	  <ng-template #navbarTitle>{{ title }}</ng-template>
  	  <ng-template #navbarRight>
  	  	<div (click)="onClickMoreHandle()">right</div>
  	  </ng-template>	
  	</lm-header>
  </ng-template>
  
  
    <!-- (scrollStart)="scrollStart()" 
    (scrolling)="scrollHandle()" 
    (scrollEnd)="scrollEndHandle()"  -->
  <lm-scroll
    #scroll
    [total]="total"
    [page]="page"
    [listenScrollStart]="true" 
    [pullUpLoad]="true"
    (pullingUp)="pullingUpHandle($event)"
    [listenScrollEnd]="true" 
    [data]="fours"
   >
     <!-- <lm-grid [cols]="3">
      <lm-grid-item [link]="[item.link]" *ngFor="let item of items"  [label]="item.label"></lm-grid-item>
    </lm-grid> -->
    <lm-group>
      <ng-template #groupTitle>
        <lm-group-title>
          <ng-template #header>
            <div class="">Home{{ items.length }}</div>
          </ng-template>
        </lm-group-title>
      </ng-template>
      <lm-cell *ngFor="let item of items" [label]="item.label" [placeholder]="'前往'" [link]="item.link"></lm-cell>
    </lm-group>


    <!-- <ng-template #pullUpWrapper let-name="isPullUpLoad">
      {{ name }}asdas
    </ng-template> -->
   </lm-scroll>
</lm-template>
