<lm-template>
  <ng-template #header>
  	<lm-header  class="lm-header-fixed" [left-options]="{ showBack: false }" [right-options]="{ showMore: false }">
  	  <ng-template #navbarTitle>{{ title }}</ng-template>
  	  <ng-template #navbarRight>
  	  	<div (click)="onClickMoreHandle()">right</div>
  	  </ng-template>	
  	</lm-header>
  </ng-template>
  
  <lm-group>
    <lm-popup-picker 
     [label]="title1" 
     [data]="list1"
     [(ngModel)]="value1" 
     [placeholder]="'请选择'"
     (on-show)="show($event)"
     (on-hide)="hide($event)"
     (on-change)="change($event)"
     (on-shadow-change)="shadowChange($event)"></lm-popup-picker>
    <lm-address 
      (on-hide)="logHide($event)"
      (on-show)="logShow($event)"
      [label]="'地址选择'"
      [model]="value"
      [data]="addressData"
      [show]="showAddress"
      (on-shadow-change)="onShadowChange2($event)"
      placeholder="请选择地址"
    ></lm-address> 
  </lm-group>
  {{ test1 }}
  <div class="" style="width: 1rem; height: 1rem;background: red;" (click)="clickHandle($event)">点击</div>
  {{ test2 }}
  <!-- <lm-demo [(ngModel)]="test1"></lm-demo> -->
  <lm-demo [model]="test2"></lm-demo>
  <!-- <lm-demo [(ngModel)]="test3"></lm-demo> -->
</lm-template>
