@import './commom.scss';
@import './modal.scss';
@import './transition.scss';
@import './mask.scss';

.#{ $class-prefix } {
  &-dialog {
    position: fixed;
    display: table;
    z-index: 5000;
    width: $dialog-width;
    max-width: $dialog-max-width;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background-color: $dialog-background-color;
    text-align: center;
    border-radius: pxTorem(3, 2);
    overflow: hidden;
  }
  &-dialog-header {
    padding: 1.3em $dialog-gap-width .5em;
    &.with-no-content {
      padding: 1.7em $dialog-gap-width;
    }
  }
  &-dialog-title {
    font-weight: 400;
    font-size: pxTorem(18, 2);
  }
  &-dialog-body {
    padding: 0 $dialog-gap-width .8em;
    min-height: pxTorem(40, 2);
    font-size: pxTorem(15, 2);
    line-height: 1.3;
    word-wrap: break-word;
    word-break: break-all;
    color: $text-color-gray;
    &:first-child{
      padding: 2.7em pxTorem(20, 2) 1.7em;
      color:#353535;
    }
  }
  &-dialog-footer {
    position: relative;
    line-height: pxTorem(48, 2);
    font-size: pxTorem(18, 2);
    display: flex;
    &:after {
      content: " ";
      @include borderStype(top, $dialog-line-color);  
    }
  }
  &-dialog-btn {
    display: block;
    flex: 1;
    color: $dialog-link-color;
    text-decoration: none;
    @include setTapColor();
    &:active {
      background-color: $dialog-link-active-bc;
    }
    position: relative;
    &:after {
      content: " ";
      @include borderStype(left, $dialog-line-color);  
    }
    &:first-child {
      &:after {
        display: none;
      }
    }
  }
  &-dialog-btn-default {
    color: $dialog-button-text-default-color;
  }
  &-dialog-btn-primary {
    color: $dialog-button-text-primary-color;
  }
  &-dialog-btn-warn {
    color: $dialog-button-text-warn-color;
  }

  &-skin-android{
    .#{ $class-prefix }-dialog {
      text-align: left;
      box-shadow: 0 pxTorem(6, 2) pxTorem(30, 2) 0 rgba(0, 0, 0, .1);
    }
    .#{ $class-prefix }-dialog-title{
      font-size: pxTorem(21, 2);
    }
    .#{ $class-prefix }-dialog-header{
      text-align: left;
    }
    .#{ $class-prefix }-dialog-footer{
      color: $text-color-gray;
      padding:.25em $dialog-gap-width 2em;
      font-size: pxTorem(17, 2);
      text-align: left;
      &:first-child{
        padding:1.6em $dialog-gap-width 2em;
        color:#353535;
      }
    }
    .#{ $class-prefix }-dialog-footer{
      display: block;
      text-align: right;
      line-height: pxTorem(42, 2);
      font-size: pxTorem(16, 2);
      padding:0 $dialog-gap-width .7em;
      &:after{
        display: none;
      }
    }
    .#{ $class-prefix }-dialog-btn{
      display: inline-block;
      vertical-align: top;
      padding:0 .8em;
      &:after{
        display: none;
      }
      &:active{
        background-color: rgba(0,0,0,.06);
      }
      &:visited{
        background-color: rgba(0,0,0,.06);
      }
      &:last-child{
        margin-right: -.8em;
      }
    }
    .#{ $class-prefix }-dialog-btn-default {
      color: #808080;
    }
  }	
}
.#{ $class-prefix } {
  &-dialog-absolute {
    .#{ $class-prefix }-dialog {
      position: absolute
    }
  }
}