@import './commom.scss';
.#{$class-prefix} {
  &-header {
    position: relative;
    padding: $header-padding-vertical $header-padding-horizontal;
    box-sizing: border-box;
    background-color: $header-background-color;
  }
  &-header{
    .#{$class-prefix}-header-title {
      line-height: pxTorem(40, 2);
      text-align: center;
      font-size: pxTorem(18, 2);
      font-weight: 400; 
      color: $header-title-color;
    }
    .#{$class-prefix}-header-left,
    .#{$class-prefix}-header-right {
      position: absolute;
      top: pxTorem(14, 2);
      display: block;
      font-size: pxTorem(14, 2);
      line-height: pxTorem(21, 2);
      color: white;
    }

    .#{$class-prefix}-header-left a,
    .#{$class-prefix}-header-left button,
    .#{$class-prefix}-header-right a,
    .#{$class-prefix}-header-right button {
      float: left;
      margin-right: pxTorem(8, 2);
    }

    .#{$class-prefix}-header-title > span {
      display: inline-block;
    }
    .#{$class-prefix}-header-left a,
    .#{$class-prefix}-header-left button{
      color: $header-left-color;
    }

    .#{$class-prefix}-header-right a,
    .#{$class-prefix}-header-right button{
      color: $header-right-color;
    }
    .#{$class-prefix}-header-left a:active,
    .#{$class-prefix}-header-left button:active,
    .#{$class-prefix}-header-right a:active,
    .#{$class-prefix}-header-right button:active {
      opacity: .5
    }
    .#{$class-prefix}-header-left {
      left: pxTorem(18, 2)
    }
    .#{$class-prefix}-header-left .#{$class-prefix}-header-back {
      padding-left: pxTorem(16, 2);
    }
    .#{$class-prefix}-header-left .left-arrow {
      position: absolute;
      width: pxTorem(30, 2);
      height: pxTorem(30, 2);
      top: pxTorem(-5, 2);
      left: pxTorem(-5, 2);
      &:before {
        content: "";
        position: absolute;
        width: pxTorem(12, 2);
        height: pxTorem(12, 2);
        border: pxTorem(1, 2) solid $header-arrow-color;
        border-width: pxTorem(1, 2) 0 0 pxTorem(1, 2);
        transform: rotate(315deg);
        top: pxTorem(8, 2);
        left: pxTorem(7, 2);
      }
    }
    .#{$class-prefix}-header-right {
      right: pxTorem(15, 2)
    }
    .#{$class-prefix}-header .#{$class-prefix}-header-right a,
    .#{$class-prefix}-header-right button {
      margin-left: pxTorem(8, 2);
      margin-right: 0
    }
    .#{$class-prefix}-header-right .#{$class-prefix}-header-more:after {
      content: "\2022\0020\2022\0020\2022\0020";
      font-size: pxTorem(16, 2);
    }
  }
  
  &-header-title-area, 
  &-header .#{$class-prefix}-header-title {
    margin: 0 pxTorem(88, 2);
    height: pxTorem(40, 2);
    width: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  } 

  &-header-fade-in-right-enter-active {
    animation: fadeinR .5s;
  }
  &-header-fade-in-left-enter-active {
    animation: fadeinL .5s;
  }
  &-header-fixed {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }
}
@keyframes fadeinR {
  0% {
    opacity: 0;
    transform: translateX(pxTorem(150, 2));
  }
  100% {
    opacity:1;
    transform:translateX(0);
  }
}
@keyframes fadeinL{
  0% {
    opacity: 0;
    transform: translateX(pxTorem(-150, 2));
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}