.#{ $class-prefix } {
  &-modal-open {
  	overflow: hidden;
  	position: fixed;
  	width: 100%;
  }
  &-modal-open-for-container {
    overflow: hidden !important;
  }
  &-popup-picker-header {
    height: pxTorem(44, 2);
    color: $popup-picker-header-text-color;
    background-color: $popup-picker-header-bg-color;
    font-size: $popup-picker-header-font-size;
    position: relative;
    &:after {
      @include borderStype(bottom, #e5e5e5);
    }
  }
  &-popup-picker-value {
    /* display: inline-block; */
  }
  &-popup-picker-header-menu {
    text-align: left;
    padding-left: pxTorem(15, 2);
    line-height: pxTorem(44, 2);
  }
  &-popup-picker-header-menu-right {
    text-align: right;
    padding-right: pxTorem(15, 2);
  }
  &-popup-picker-select {
    width: 100%;
    position: relative;
  }
  &-popup-picker-select-box{
  	&.#{ $class-prefix }-cell-body:after {
  	  content: " ";
  	  display: inline-block;
  	  transform: rotate(45deg);
  	  height: pxTorem(6, 2);
  	  width: pxTorem(6, 2);
  	  border-width: pxTorem(2, 2) pxTorem(2, 2) 0 0;
  	  border-color: #C8C8CD;
  	  border-style: solid;
  	  position: relative;
  	  top: pxTorem(-2, 2);
  	  position: absolute;
  	  top: 50%;
  	  right: pxTorem(15, 2);
  	  margin-top: pxTorem(-3, 2);
  	}
  }
  &-popup-picker-cancel {
    color: $popup-picker-header-cancel-text-color;
  }
  &-popup-picker-placeholder {
    color: #999;
  }
}