/** env = windows **/
::-webkit-input-placeholder {
  font-family: -apple-system-font, "Helvetica Neue", sans-serif;
}

/** prevent default menu callout **/
a {
  -webkit-touch-callout: none;
}

%bold{
  font-weight: bold;
}
$fonts: 20, 22, 24, 26, 28, 30, 32 !default;
@each $font in $fonts {
  %font#{$font}{
    font-size: pxTorem($font);
  }
  %line#{$font} {
    line-height: pxTorem($font);
  }
}
##{$class-prefix}-page-template{
  position: relative;
  box-sizing: border-box;
  /*padding-top: pxTorem(120);
  padding-bottom: pxTorem( 53 * 1.74 );*/
  /* pxTorem(viewTransform( 53 )); */
  width: 100%;
  height: 100%;  
  overflow:auto;
  -webkit-overflow-scrolling: touch;
}
##{$class-prefix}-page-header{
  width: 100%;
  position: absolute !important;
  left: 0 !important;
  top: 0 !important;
  z-index: 100 !important;
  background-color: #fda31a !important;
} 
##{$class-prefix}-page-footer{
  width: 100%;
  height: pxTorem(53, 2);
  position: absolute !important;
  left: 0 !important;
  bottom: 0 !important;
}
.#{$class-prefix}{
  &-page-images{
    overflow: hidden; 
    @include setWidthHeight(100%, 100%);
    & img{
      @include setWidthHeight(100%, 100%);
      max-height: 100%;
    }
    &:empty::after{
      @extend %skeleton;
    }
  }
  &-logo{ 
    @include setWidthHeight(28, 28);
    /*margin-right: pxTorem(16);*/
  }
  &-error-500{ 
    @include setWidthHeight(174, 131);
  }
  &-tap-active {
    tap-highlight-color: rgba(0,0,0,0);
    user-select:none;
  }
  &-tap-active:active {
    background-color: #ECECEC;
  }
  &-clearfix{
    @extend %clearfix; 
  }
  &-left{
    float: left;
  }
  &-right{
    float: right;
  }
  &-inline-block{
    display: inline-block;
  }
  &-badge{
    display: inline-block;
    text-align: center;
    background: #f74c31;
    color: #fff; 

    @include setWidthHeight(26, 26, 2); 
    /*width: pxTorem(viewTransform(26));
    height: pxTorem(viewTransform(26));*/
    @include fontsize(16, 24, 2);
    /*font-size: pxTorem(viewTransform(16));
    line-height: pxTorem(viewTransform(24));*/
    border-radius: pxTorem(13, 2);
    text-align: center;
    padding: 0;
    background-clip: padding-box;
    vertical-align: middle;
  }
  /* margin start */
  $columns: 10, 16, 18, 20, 22, 24, 26, 28, 30, 32 !default;
 
  @each $col in $columns {
    &-mg-l-#{$col}px {
      margin-left: pxTorem($col); 
    }
    &-mg-r-#{$col}px{
      margin-right: pxTorem($col);
    }
    &-mg-t-#{$col}px {
      margin-top: pxTorem($col);
    }
    &-mg-b-#{$col}px {
      margin-bottom: pxTorem($col);
    }
    &-mg-lr-#{$col}px {
      margin: 0 pxTorem($col);
    }
    &-mg-tb-#{$col}px {
      margin: pxTorem($col) 0;
    }  
    /* margin end */
    /* padding start */
    &-pd-#{$col}px {
      padding: pxTorem($col);  
    }
    &-pd-l-#{$col}px {
      padding-left: pxTorem($col);  
    }
    &-pd-r-#{$col}px{
      padding-right: pxTorem($col); 
    }
    &-pd-t-#{$col}px {
      padding-top: pxTorem($col);  
    }
    &-pd-b-#{$col}px {
      padding-bottom: pxTorem($col);  
    }
    &-pd-lr-#{$col}px {
      padding: 0 pxTorem($col);  
    }
    &-pd-tb-#{$col}px {
      padding: pxTorem($col) 0;  
    }
  }
  /* padding end */
  /* color start  */
  $colorMap: ( 
    'buff': #fdae35,  
    'orange': #fda719,
    'warning': #fe490a,
    'gray': #d5d5d5,
    'black': #333333
  );
  @each $colorKey, $colorValue in $colorMap {
    &-color-#{$colorKey} {
      color: $colorValue;
    }
  }
  /* color end  */
  /* background start */
  $backgroundMap: (
    'pale': #f5f5f5,
    'white': #ffffff,
    'gray': #f7f7f7
  );
  @each $bgKey, $bgValue in $backgroundMap {
    &-bg-#{$bgKey} {
      background-color: $bgValue;
    }
  }
  /* background end */
  &-panel-title, &-panel-desc{
    width: 100%;
  }
  &-panel-title, 
  &-panel-desc{
    margin-bottom: pxTorem(16);
  }
  &-panel-title {
    @include fontsize(30, 36);
    /*@extend %font30; 
    line-height: pxTorem(36); */
  }
  &-panel-desc{
    @include fontsize(26, 32);
    /*@extend %font26;
    line-height: pxTorem(32);*/
  }
  span.#{$class-prefix}-panel-price,
  span.#{$class-prefix}-panel-marking-price{
    display: inline-block;
    vertical-align: middle;
    margin-bottom: pxTorem(0);
  }
  &-panel-price,
  &-panel-marking-price{
    line-height: pxTorem(30); 
  }
  &-panel-price{
    @include fontsize(30, 30);
    /*@extend %font30; */ 
    color: #fe592c;
  }
  &-panel-marking-price{
    /*@extend %font28; */
    @include fontsize(28, 30);
    text-decoration: line-through;
    color: #d8d8d8;
    margin-left: pxTorem(16);
  }
  &-panel-img{ 
    width: 100%;
    overflow: hidden; 
    margin-bottom: pxTorem(16);
  } 
  &-panel-padding{
    padding: 0 pxTorem(16);
  }
  &-message-wrapper{ 
    @include setWidthHeight(100%, 100%); 
    @extend %flex;
    @extend %flex-col;
    @extend %justify-c; 
    @extend %items-c;
  } 
}
