.#{ $class-prefix } {
  &-close {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    color: #999;
    width: pxTorem(24, 2);
    height: pxTorem(24, 2);
    &:before,
    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: pxTorem(11, 2);
      width: pxTorem(24, 2);
      height: 1px;
      background-color: currentColor;
      transform: rotate(-45deg);
    }
    &:after {
      transform: rotate(45deg);
    }
  }  
}