/**
 * extend 继承部分
 */
%flex{
  display: flex;
}
%flex-col{
  flex-direction: column;
}
%flex-row{
  flex-direction: row;
}
%flex-grow{
  flex-grow: 1;
}
%flex-shrink{
  flex-shrink: 0;
}
%flex-inline{
  display: -webkit-inline-flex;
  display: inline-flex;
}
%flex-wrap{
  flex-wrap: wrap;
}
%flex-item{
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
}
%items-c{
  align-items: center;
}
%items-s{
  align-items: flex-start;
}
%items-e{
  align-items: flex-end;
}
%items-stretch{
  align-items: stretch;
}
%items-baseline{
  align-items: baseline;
}
 
%justify-c{
  justify-content: center;
}
%justify-a{
  justify-content: space-around;
}
%justify-s{
  justify-content: flex-start;
}
%justify-e{
  justify-content: flex-end;
}
%justify-b{
  justify-content: space-between;
}
%self-c{
  align-self:center;
}
%self-s{
  align-self:flex-start;
}
%self-e{
  align-self:flex-end;
}
%self-stretch{
  align-self: stretch;
}
%align-s{
  align-content: flex-start;
}
%align-e{
  align-content: flex-end;
}
%align-c{
  align-content: center;
}
%align-b{
  align-content: space-between;
}
%align-a{
  align-content: space-around;
}
%align-stretch{
  align-content: stretch;
}
%clearfix{
  &:before,
  &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}
%arrow{
  padding-right: $cell-content-padding-right;
  position: relative;
  &:after {  
    content: " ";
    @include setArrow(right, $cell-arrow-size, $cell-arrow-width, $cell-arrow-color);
    position: absolute; 
    top: 50%;
    margin-top: pxTorem(viewTransform(-3));
    right: pxTorem(viewTransform(2));
  }
}
/**
 * 图片骨架屏
 */
%skeleton{
  content: "文字";
  display: block;
  width: 100%;
  height: 100%; 
  color: transparent;
  font-size: initial;
  /*background: rgb(194, 207, 214);
  background-repeat: no-repeat;
  transform-origin: left;
  -webkit-animation: skeleton-stretch .5s linear infinite alternate;
          animation: skeleton-stretch .5s linear infinite alternate;*/
  background: rgb(194, 207, 214);
  background-image: linear-gradient(90deg,rgba(255, 255, 255, 0.15) 25%, transparent 25%);
  background-size: 100% 100%;
  -webkit-animation: skeleton-stripes 1s linear infinite;
          animation: skeleton-stripes 1s linear infinite;
}
/**
 * 效果一
 */
@keyframes skeleton-stretch {
  from {
    transform: scalex(1);
  }
  to {
    transform: scalex(.3);
  }
}
/**
 * 效果儿
 */
@keyframes skeleton-stripes {
  from {
    background-position: 0 0 ;
  }
  to {
    background-position: 20rem 0;
  }
}
