.#{ $class-prefix } {
  
  &-loadmore{
    width: 65%;
    margin:1.5em auto;
    line-height: 1.6em;
    font-size:14px;
    text-align: center;
  }
  &-loadmore__tips{
    display: inline-block;
    vertical-align: middle;
  }

  &-loadmore_line{
    border-top:1px solid $line-color-light;
    margin-top:2.4em;
    .#{ $class-prefix }-loadmore__tips{
      position: relative;
      top:-.9em;
      padding:0 .55em;
      color: $text-color-gray;
    }
  }
  &-loadmore_dot{
    .#{ $class-prefix }-loadmore__tips{
      padding:0 .16em;
      &:before{
        content: " ";
        width:4px;
        height:4px;
        border-radius:50%;
        background-color: $line-color-light;
        display: inline-block;
        position: relative;
        vertical-align: 0;
        top:-.16em;
      }
    }
  }
}