.#{ $class-prefix } {
  &-modal-open {
  	overflow: hidden;
  	position: fixed;
  	width: 100%;
  }
  &-modal-open-for-container {
    overflow: hidden !important;
  }
  &-popup-picker-header {
    height: pxTorem(viewTransform(44));
    color: $popup-picker-header-text-color;
    background-color: $popup-picker-header-bg-color;
    font-size: $popup-picker-header-font-size;
    position: relative;
    &:after {
      @include borderStype(bottom, #e5e5e5);
    }
  }
  &-popup-picker-value {
    /* display: inline-block; */
  }
  &-popup-picker-header-menu {
    text-align: left;
    padding-left: pxTorem(viewTransform(15));
    line-height: pxTorem(viewTransform(44));
  }
  &-popup-picker-header-menu-right {
    text-align: right;
    padding-right: pxTorem(viewTransform(15));
  }
  &-popup-picker-select {
    width: 100%;
    position: relative;
  }
  &-popup-picker-select-box{
  	&.#{ $class-prefix }-cell__bd:after {
	  content: " ";
	  display: inline-block;
	  transform: rotate(45deg);
	  height: pxTorem(viewTransform(6));
	  width: pxTorem(viewTransform(6));
	  border-width: pxTorem(viewTransform(2)) pxTorem(viewTransform(2)) 0 0;
	  border-color: #C8C8CD;
	  border-style: solid;
	  position: relative;
	  top: pxTorem(viewTransform(-2));
	  position: absolute;
	  top: 50%;
	  right: pxTorem(viewTransform(15));
	  margin-top: pxTorem(viewTransform(-3));
	}
  }
  &-popup-picker-cancel {
    color: $popup-picker-header-cancel-text-color;
  }
  &-popup-picker-placeholder {
    color: #999;
  }
}