  <!-- [content]="model" -->
<lm-cell
  [borderIntent]="getBorderIntent"
  [label]="label"
  [inline-desc]="inlineDesc" 
  (on-cell-click)="clickHandle($event)"
>
    
    <div class="lm-popup-picker-select"
         [ngStyle]="{textAlign: valueTextAlign}">
       <span 
          class="lm-popup-picker-value lm-cell-value"
          *ngIf="!displayFormat && !showName && currentValue && currentValue.length">
          {{ currentValue }}
       </span>
       <span 
         class="lm-popup-picker-value lm-cell-value"
         *ngIf="!displayFormat && showName && currentValue && currentValue.length">
         {{ currentValue | value2name:data }}
       </span>
      <span 
        class="lm-popup-picker-value lm-cell-value"
        *ngIf="displayFormat && currentValue && currentValue.length">
        {{ displayFormat(currentValue, value2name(currentValue, data)) }}
      </span>
      <span 
        *ngIf="currentValue && !currentValue.length && placeholder"
        class="lm-popup-picker-placeholder lm-cell-placeholder">
        {{ placeholder }}
      </span>
    </div>
</lm-cell>

<div *transfer-dom="true">
  <lm-popup 
      [(ngModel)]="showValue"
      (on-show)="onPopupShow($event)"
      (on-hide)="onPopupHide($event)"
      class="lm-popup-picker">
    <div class="lm-popup-picker-container">
      <lm-popup-header
        [left-text]="cancelText"
        [right-text]="confirmText"
        (on-click-left)="onHideHandle(false)"
        (on-click-right)="onHideHandle(true)"
        [title]="popupTitle">
      </lm-popup-header>	
      <lm-picker 
       [data]="data"
       [(ngModel)]="tempValue"
       (on-change)="onPickerChange($event)"
       [columns]="columns"
       [fixed-columns]="fixedColumns"
       [column-width]="columnWidth">	
      </lm-picker>
    </div>
  </lm-popup>	
  
</div>
