<lm-template>
  <ng-template #header>
  	<lm-header  class="lm-header-fixed" [left-options]="{ showBack: false }" [right-options]="{ showMore: false }">
  	  <ng-template #navbarTitle>{{ title }}</ng-template>
  	  <ng-template #navbarRight>
  	  	<div (click)="onClickMoreHandle()">right</div>
  	  </ng-template>	
  	</lm-header>
  </ng-template> 
  <lm-picker [data]="years" [(ngModel)]="year1" (on-change)="onChange($event)"></lm-picker>

  <lm-picker (on-change)="onChange($event)" [columns]="2" [data]="year7" [(ngModel)]="year7Value"></lm-picker>
</lm-template>
