/*
基本单位  
 */
$font-dpr : .01rem !default;
//视网膜的dpr像素比
$dpr : 1 !default;
//设计稿大小
$Layout : 75;

//样式名前缀
$class-prefix: lm;
$theme-color: #fda31a;
$opacity-disabled: 0.5;

//======== 【global】 ========
$base-zindex: 1;
$max-width: 750px;
$min-width: 300px;
$global-onepx: 1px;
$onepx-border-color: #d9d9d9;
$global-iconsize: pxTorem(26, 2);
$default: #d0d0d0;
$primary: #04be02;
$danger: #ef4f4f;
$warning: #ffb400;
$hollow: #000000;


//======== 【color】 ========
$color-default: #333333;
$color-primary: #1AAD19;
$color-warn: #E64340;

//========【actionsheet】========
$actionsheet-android-border-radius: pxTorem(2, 2);

//========【datetime】========
$datetime-header-item-font-color: $theme-color;
$datetime-header-item-cancel-font-color: #828282;
$datetime-header-item-confirm-font-color: $datetime-header-item-font-color;

//========【toast】========
/**
* en: text size of content
* zh-CN: 内容文本大小
*/
$toast-content-font-size: pxTorem(16, 2);
/**
* en: default top
* zh-CN: 默认状态下距离顶部的高度
*/
$toast-top: pxTorem(180, 2);
/**
* en: position top
* zh-CN: 顶部显示的高度
*/
$toast-position-top-offset: pxTorem(10, 2);
/**
* en: position bottom
* zh-CN: 底部显示的高度
*/
$toast-position-bottom-offset: pxTorem(10, 2);
/**
* en: z-index
* zh-CN: z-index
*/
$toast-z-index: 5001;
/**
* icon
*/
$icon-success-color: #09BB07;
/**
* en: text size of content
* zh-CN: 内容文本大小
*/
$toast-content-font-size: pxTorem(16, 2);
 
//======== 【spinner】 ========
$spinner-size: 22;
$spinner-color: $theme-color;
$spinner-android-color: $theme-color;

//======== 【link】 ========
$link-color-default: #586C94;
 
//======== 【background】 ========
$bg-color-default: #EFEFF4;
$bg-color-active: #ECECEC;

//======== 【line】 ========
$line-color-light: #E5E5E5;
$line-color-dark: #BCBAB6;

//======== 【text】 ========
$text-color-title: #000000;
$text-color-tips: #B2B2B2;
$text-color-warn: $color-warn;
$text-color-gray: #999999;

//======== 【dialog】 ========
$dialog-background-color: #FFFFFF;
$dialog-line-color: #D5D5D6;
$dialog-link-color: #3CC51F;
$dialog-link-active-bc: #EEEEEE;
$dialog-button-text-primary-color: $theme-color;
$dialog-button-text-default-color: #353535;
$dialog-button-text-warn-color: #E64340;
// also affects alert confirm
$dialog-width: 80%; 
// also affects alert confirm
$dialog-max-width: pxTorem(300, 2); 
/**
* en: title and content's padding-left and padding-right
* zh-CN: 标题及内容区域的 padding-left 和 padding-right
*/
$dialog-gap-width: 1.6em; 

//======== 【popup-picker】 ========
$popup-picker-header-text-color: $theme-color;
$popup-picker-header-bg-color: #fbf9fe;
$popup-picker-header-font-size: pxTorem(16, 2);
$popup-picker-header-cancel-text-color: #828282;
/**
* popup
*/
$popup-background-color: #eee;

/**
* popup-header
*/
$popup-header-height: pxTorem(44, 2);
$popup-header-bg-color: #fbf9fe;
$popup-header-font-size: pxTorem(16, 2);
$popup-header-left-text-color: #828282;
$popup-header-right-text-color: $theme-color;
$popup-header-title-text-color: #222;
$popup-header-left-text-padding: pxTorem(15, 2);
$popup-header-right-text-padding: pxTorem(15, 2);

//======== 【header】 ========
$header-background-color: #fda31a;
$header-padding-horizontal: 0;
$header-padding-vertical: pxTorem(3, 2);
$header-title-color: #ffffff;
$header-left-color: #ffffff;
$header-arrow-color: #ffffff;
$header-right-color: #ffffff;

//======== 【loading】 ========
$loading-z-index: 5001;

//======== 【number】 ========
$number-input-color: #333;
$number-input-border-color: #FF9900;
$number-selector-color: #FF9900;
$number-selector-border-color: #FF9900;
$number-selector-icon-color: #FF9900;
$number-selector-disabled-color: #ccc;
//======== 【button】 ========
/**
* Button
*/
/**
* en: border radius
* zh-CN: 圆角边框
*/
$button-global-border-radius: pxTorem(5, 2);
$button-border-radius: pxTorem((5 * 2), 2);

/**
* en: font color
* zh-CN: 字体颜色
*/
$button-global-font-color: #FFFFFF;
/**
* en: margin-top value between previous button, not works when there is only one button
* zh-CN: 与相邻按钮的 margin-top 间隙，只有一个按钮时不生效
*/
$button-global-margin-top: 15; 
/**
* en: button height
* zh-CN: 按钮高度
*/
$button-global-height: 42;
$button-global-default-height: pxTorem($button-global-height, 2);
/**
* en: the font color in disabled
* zh-CN: disabled状态下的字体颜色
*/
$button-global-disabled-font-color: rgba(255, 255, 255, .6);
/**
* en: the font color in disabled
* zh-CN: disabled状态下的字体颜色
*/
$button-global-active-font-color: rgba(255, 255, 255, .6);
/**
* en: font size
* zh-CN: 字体大小
*/
$button-global-font-size: 18;
$button-global-default-font-size: pxTorem($button-global-font-size, 2);
/**
* en: the font size of the mini type
* zh-CN: mini类型的字体大小
*/
$button-mini-font-size: 13;
$button-mini-default-fontsize: pxTorem($button-mini-font-size, 2);
/**
* en: the line height of the mini type
* zh-CN: mini类型的行高
*/
$button-mini-line-height: 2.3;
$button-padding-left: pxTorem(14, 2);
$button-padding-right: pxTorem(14, 2);
/**
* en: the background color of the warn type
* zh-CN: warn类型的背景颜色
*/
$button-warn-bg-color: #E64340;
/**
* en: the background color of the warn type in active
* zh-CN: active状态下，warn类型的背景颜色
*/
$button-warn-active-color: #CE3C39;
/**
* en: the background color of the warn type in disabled
* zh-CN: disabled状态下，warn类型的背景颜色
*/
$button-warn-disabled-bg-color: #EC8B89;
/**
* en: the background color of the default type
* zh-CN: default类型的背景颜色
*/
$button-default-bg-color: #F8F8F8;
/**
* en: the font color of the default type
* zh-CN: default类型的字体颜色
*/
$button-default-font-color: #000000;
/**
* en: the background color of the default type in active
* zh-CN: active状态下，default类型的背景颜色
*/
$button-default-active-bg-color: #DEDEDE;
/**
* en: the font color of the default type in disabled
* zh-CN: disabled状态下，default类型的字体颜色
*/
$button-default-disabled-font-color: rgba(0,0,0,.3);
/**
* en: the background color of the default type in disabled
* zh-CN: disabled状态下，default类型的背景颜色
*/
$button-default-disabled-bg-color: #F7F7F7;
/**
* en: the font color of the default type in active
* zh-CN: active状态下，default类型的字体颜色
*/
$button-default-active-font-color: rgba(0,0,0,.6);
/**
* en: the background color of the primary type
* zh-CN: primary类型的背景颜色
*/
$button-primary-bg-color: #1AAD19;
/**
* en: the background color of the primary type in active
* zh-CN: active状态下，primary类型的背景颜色
*/
$button-primary-active-bg-color: #179B16;
/**
* en: the background color of the primary type in disabled
* zh-CN: disabled状态下，primary类型的背景颜色
*/
$button-primary-disabled-bg-color: #9ED99D;
/**
* en: the font color of the plain primary type
* zh-CN: plain的primary类型的字体颜色
*/
$button-plain-primary-color: rgba(26,173,25,1);
/**
* en: the border color of the plain primary type
* zh-CN: plain的primary类型的边框颜色
*/
$button-plain-primary-border-color: rgba(26,173,25,1);
/**
* en: the font color of the plain primary type in active
* zh-CN: active状态下，plain的primary类型的字体颜色
*/
$button-plain-primary-active-color: rgba(26,173,25,.6);
/**
* en: the border color of the plain primary type in active
* zh-CN: active状态下，plain的primary类型的边框颜色
*/
$button-plain-primary-active-border-color: rgba(26,173,25,.6);
/**
* en: the font color of the plain default type
* zh-CN: plain的default类型的字体颜色
*/
$button-plain-default-color: rgba(53,53,53,1);
/**
* en: the border color of the plain default type
* zh-CN: plain的default类型的边框颜色
*/
$button-plain-default-border-color: rgba(53,53,53,1);
/**
* en: the font color of the plain default type in active
* zh-CN: active状态下，plain的default类型的字体颜色
*/
$button-plain-default-active-color: rgba(53,53,53,.6);
/**
* en: the border color of the plain default type in active
* zh-CN: active状态下，plain的default类型的边框颜色
*/
$button-plain-default-active-border-color: rgba(53,53,53,.6);
/**
* en: the font color of the plain warn type
* zh-CN: plain的warn类型的字体颜色
*/
$button-plain-warn-color: rgba(206,60,57,1);
/**
* en: the border color of the plain warn type
* zh-CN: plain的warn类型的边框颜色
*/
$button-plain-warn-border-color: rgba(206,60,57,1);
/**
* en: the font color of the plain warn type in active
* zh-CN: active状态下，plain的warn类型的字体颜色
*/
$button-plain-warn-active-color: rgba(206,60,57,.6);
/**
* en: the border color of the plain warn type in active
* zh-CN: active状态下，plain的warn类型的边框颜色
*/
$button-plain-warn-active-border-color: rgba(206,60,57,.6);


//======== 【 swipeout 】 ========
/**
 * [swipeout description]
 * @type {[type]}
 */
$swipeout-button-primary-bg-color: $button-primary-bg-color;
$swipeout-button-warn-bg-color: $button-warn-bg-color;
$swipeout-button-default-bg-color: #c8c7cd;

$swipeout-content-bg-color: #FFF;
$swipeout-button-font-color: #FFF;


//======== 【cell】 ========
/**
 * [height 默认cell 高度大小]
 * @type {[type]}
 */
$cell-height: 44.5;
/**
 * [fontsize 默认cell 字体大小]
 * @type {[type]}
 */
$cell-fontsize: 17;
/**
 * [horizontal 默认cell 字体大小 rem]
 * @type {[type]}
 */
$cell-default-fontsize: pxTorem($cell-fontsize, 2);
/**
 * [horizontal 默认cell 左右两边宽度]
 * @type {[type]}
 */
$cell-padding-vertical: 10;
/**
 * [horizontal description]
 * @type {[type]}
 */
$cell-padding-horizontal: 15;
/**
 * [horizontal description]
 * @type {[type]}
 */
$cell-default-padding-horizontal: pxTorem($cell-padding-horizontal, 2);
/**
 * [vertical description]
 * @type {[type]}
 */
$cell-default-padding-vertical: pxTorem($cell-padding-vertical, 2);
/**
 * [height 高度为44px，减去上下padding的行高]
 * @type {[type]}
 */
$cell-line-height: (($cell-height - (2 * $cell-padding-vertical)) / $cell-fontsize);
/**
 * [horizontal 默认cell 背景颜色]
 * @type {[type]}
 */
$cell-background: #ffffff;
/**
 * [fontsize cell-preview 字体大小]
 * @type {[type]}
 */
$cell-default-preview-fontsize: pxTorem(($cell-fontsize * 0.9), 2);
/**
 * [horizontal 默认cell 左边label 字体颜色]
 * @type {[type]}
 */
$cell-left-color: #333333;
/**
 * [horizontal 默认cell 左边label 字体大小]
 * @type {[type]}
 */
$cell-left-fontsize: pxTorem($cell-fontsize, 2);
/**
 * [horizontal 默认cell 左边label 小行文字大小]
 * @type {[type]}
 */
$cell-label-desc-fontsize: pxTorem(14, 2);
/**
 * [color description]
 * @type {[type]}
 */
$cell-label-desc-color: #666666;
/**
 * [color 右边内容]
 * @type {[type]}
 */
$cell-right-color: #333333;
/**
 * [fontsize description]
 * @type {[type]}
 */
$cell-right-fontsize: pxTorem($cell-fontsize, 2);
/**
 * [horizontal 默认cell 右边content 距离右边大小]
 * @type {[type]}
 */
$cell-content-padding-right: pxTorem(13, 2);
/**
 * [fontsize 右边小箭头 大小 颜色 宽度]
 * @type {[type]}
 */
$cell-arrow-size: pxTorem(6, 2);
/**
 * [width description]
 * @type {[type]}
 */
$cell-arrow-width: pxTorem(1, 2);
/**
 * [color description]
 * @type {[type]}
 */
$cell-arrow-color: #d9d9d9;
/**
 * [color description]
 * @type {[type]}
 */
$cell-input-color: #d9d9d9;
$cell-border-color: #D9D9D9;
$cell-tips-font-size: pxTorem(14, 2);
$cell-inner-gap-height: .35em;
/*@weuiCellInnerGapH:.35em;
@weuiCellHeight: 44px;
@weuiCellFontSize:@cell-font-size;

@weuiCellLabelWidth:105px;*/
/*$cell-input-fontsize: .28rem;
$cell-icon-fontsize: .38rem;
$cell-select-color: #A9A9A9;
$cell-select-fontsize: $cell-left-fontsize;*/
/*$cell-arrow-color: #C9C9C9;
$cell-arrow-fontsize: .28rem;*/

//========【switch】========
$switch-width: 42;
$switch-height: 22;
$switch-checked-bg-color: $theme-color;
$switch-checked-border-color: $theme-color;
$switch-disabled-opacity: 0.6; 
$switch-padding: 20;
$switch-scale: 42 / 52;
 
//======== 【grids】 ========
$grids-font-size: pxTorem(14, 2);
$grids-line-height: 1.6;
$grids-icon-size: pxTorem(28, 2);
$grids-column-count: 3; 
$grids-label-color: #000000;
$grids-label-active-color: #d9d9d9;
$grids-label-margin-top: pxTorem(4, 2);
$grids-border-color: #D9D9D9; 
$grids-padding-horizontal: pxTorem(10, 2);
$grids-padding-vertical: pxTorem(20, 2);

//======== 【navbar】 ========
/*$navbar-height: .9rem;
$navbar-center-width: 50%;
$navbar-item-fontsize: .26rem;
$navbar-icon-fontsize: .3rem;
$navbar-border-color: $line-high-color;*/

//======== 【tabbar】 ========
$tabbar-background-color: #F7F7FA;
$tabbar-border-color: #D9D9D9;
$tabbar-tap-highlight-color: rgba(0,0,0,0);
$tabbar-text-color: #333333;
$tabbar-text-active-color: #fda31a;
$tabbar-icon-color: gray;
$tabbar-icon-active-color: #fda31a;
$tabbar-label: #999999;
$tabbar-simple-height: pxTorem(50, 2);
$tabbar-simple-fontsize: pxTorem(14, 2);
$tabbar-simple-line-height: pxTorem(50, 2);
//======== 【actionsheet】 ========

/**
* en: primary type text color of menu item
* zh-CN: 菜单项primary类型的文本颜色
*/
$actionsheet-label-primary-color: #1AAD19;
/**
* en: warn type text color of menu item
* zh-CN: 菜单项warn类型的文本颜色
*/
$actionsheet-label-warn-color: #E64340;
/**
* en: default type text color of menu item
* zh-CN: 菜单项default类型的文本颜色
*/
$actionsheet-label-default-color: #000;
/**
* en: disabled type text color of menu item
* zh-CN: 菜单项disabled类型的文本颜色
*/
$actionsheet-label-disabled-color: #ccc;
/*$actionsheet-bg: #EFEFF4;
$actionsheet-item-height: 1rem;
$actionsheet-item-bg: #FFF;
$actionsheet-item-fontsize: .28rem;
$actionsheet-item-color: #555;
$actionsheet-item-border-color: $line-color;
$actionsheet-action-height: 1rem;
$actionsheet-action-bg: $actionsheet-item-bg;
$actionsheet-action-fontsize: $actionsheet-item-fontsize;
$actionsheet-action-color: $actionsheet-item-color;
*/
//======== 【tab】 ========
$tab-bg: #FFF;
$tab-height: .85rem;
$tab-color: #fda31a;
$tab-tabbar-item-padding-top: pxTorem(5, 2);
$tab-tabbar-icon: pxTorem(27, 2);
$tab-tabbar-label-fontsize: pxTorem(10, 2);
$tab-tabbar-label-lineheight: pxTorem(21, 2);

$tab-prefix: lm-tab;
$tab-easing-in-out: cubic-bezier(0.35, 0, 0.25, 1);
$tab-effect-duration: .3s;
$tab-text-disabled-color: #ddd;
$tab-text-default-color: #666;
$tab-text-active-color: $theme-color;
$tab-bar-active-color: $theme-color;

//======== 【badge】 ========
$badge-default-bg-color: $default;
$badge-default-color: #fff;
$badge-primary-bg-color: $primary;
$badge-primary-color: #fff;
$badge-danger-bg-color: $danger;
$badge-danger-color: #fff;
$badge-warning-bg-color: $warning;
$badge-warning-color: #fff;

//======== 【rater】 ========
/** 
* zh-CN: rater 评分设置
*/
$rater-color: #cccccc;
/**
 * [color description]
 * @type {[type]}
 */
$rater-hover-color: #ffdd99;
/**
 * [color description]
 * @type {[type]}
 */
$rater-disabled-color: #cccccc;

$rater-padding-right: pxTorem(2, 2);
