.#{ $class-prefix } {
  &-reddot,&-reddot-border,&-reddot-s {
    position: relative;
  }

  &-reddot:after,&-reddot-border:after,&-reddot-s:after {
    content: '';
    position: absolute;
    display: block;
    @include setWidthHeight(8, 8);
    background-color: #f74c31;
    border-radius: pxTorem(5, 2);
    right: pxTorem(-3, 2);
    top: pxTorem(-3, 2);
    background-clip: padding-box;
  }
  &-reddot-border:before {
    content: '';
    position: absolute;
    display: block;
    @include setWidthHeight(8, 8);
    background-color: #fff;
    border-radius: pxTorem(5, 2);
    right: pxTorem(-4, 2);
    top: pxTorem(-4, 2);
    background-clip: padding-box;
    padding: pxTorem(1, 2);
  }
  &-reddot-s:after {
    @include setWidthHeight(6, 6);
    top: pxTorem(-5, 2);
    right: pxTorem(-5, 2);
  }
}