/**
 * [font 字体大小、行高、字体]
 * @param  {[type]} $size [description]
 * @return {[type]}       [description]
 */
@mixin font($size, $line-height, $family: 'Microsoft YaHei') {  
  font: pxTorem($size)/pxTorem($line-height) $family;
}

/* font-size start */
$fonts: 10, 16, 18, 20, 24, 28, 32 !default;
@each $font in $fonts {
  &-font-#{$font}px {
    font-size: pxTorem($font);
  }
}
/* font-size end */

/* color start  */
$colorMap: (
  'grey': #959595,
  'buff': #fdae35,
  'light-gray': #d5d5d5,
  'deep-orange': #fd480a,
  'orange': #fda719
);
@each $colorKey, $colorValue in $colorMap {
  &-color-#{$colorKey} {
    color: $colorValue;
  }
}
/* color start  */
/**
 * [gradient 文字颜色渐变]    https://blog.csdn.net/fe_dev/article/details/78450844
 * @param  {[type]} $to     [description]
 * @param  {[type]} $color1 [description]
 * @param  {[type]} $color2 [description]
 * @return {[type]}         [description]
 */
@mixin text-gradient($to, $color1, $color2){
  background: linear-gradient(to $to, $color1,  $color2);
  -webkit-background-clip: text;
  color: transparent;
}

/**
 * [clamp 多行超出文本省略]
 * @param  {[type]} $num [description]
 * @return {[type]}      [description]
 */
@mixin text-clamp($num) {
  display:-webkit-box; 
  -webkit-box-orient:vertical;
  -webkit-line-clamp:$num;
  display: -moz-box; 
  -moz-line-clamp: $num !important;
  -moz-box-orient: vertical;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/**
 * [align 文字对齐方向]
 * @param  {[type]} $direction: left          [description]
 * @return {[type]}             [description]
 */
@mixin text-align($direction: left) {
  text-align: $direction;
}

.#{$class-prefix} { 
  /* 文字换行 */	
  &-text-wrap {
    word-wrap:break-word;
    word-break:break-all;
  }
  /* 文字溢出隐藏 */
  &-text-overflow{
    @include text-clamp(1);
  }
  /* 多行文字溢出隐藏 */
  &-text-ellipsis{
    @include text-clamp(2);
  }
}


