

.#{ $class-prefix } {
  
  &-actionsheet {
    position: fixed;
    left: 0;
    bottom: 0;
    transform: translate(0, 100%);
    backface-visibility: hidden;
    z-index: 5000;
    width: 100%;
    background-color: $bg-color-default;
    //slide up animation
    transition: transform .3s;
  }
  &-actionsheet__menu{
    background-color: #FFFFFF;
  }
  &-actionsheet__action {
    margin-top: pxTorem(viewTransform(6));
    background-color: #FFFFFF;
  }
  &-actionsheet__cell {
    position: relative;
    padding: pxTorem(viewTransform(10)) 0;
    text-align: center;
    font-size: pxTorem(viewTransform(18));
    line-height: 1.6;
    &:before {
      @include borderStype(top, $cell-border-color); 
    }
    &:active{
      background-color: $bg-color-active;
    }
    &:first-child{
      &:before{
          display: none;
      }
    }
  }


  /**
   * android actionSheet
   */
  &-skin_android{
    .#{ $class-prefix }-actionsheet {
      position: fixed;
      left: 50%;
      top: 50%;
      bottom: auto;
      transform: translate(-50%, -50%);
      /*padding: 0 pxTorem(viewTransform(40));*/
      width: pxTorem(viewTransform(274));
      box-sizing: border-box;
      backface-visibility: hidden;
      background: transparent;
      /**
        slide up animation
       */
      transition: transform .3s;
    }
    .#{ $class-prefix }-actionsheet__action{
      display: none;
    }
    .#{ $class-prefix }-actionsheet__menu {
      border-radius: $actionsheet-android-border-radius;
      box-shadow: 0 pxTorem(viewTransform(6)) pxTorem(viewTransform(30)) 0 rgba(0,0,0,.1);
    }
    .#{ $class-prefix }-actionsheet__cell {
      padding: pxTorem(viewTransform(13)) pxTorem(viewTransform(24));
      font-size: pxTorem(viewTransform(16));
      line-height: 1.4;
      text-align: left;
      &:first-child {
          border-top-left-radius: $actionsheet-android-border-radius;
          border-top-right-radius: $actionsheet-android-border-radius;
      }
      &:last-child {
          border-bottom-left-radius: $actionsheet-android-border-radius;
          border-bottom-right-radius: $actionsheet-android-border-radius;
      }
    }
  }

  //actionSheet aniamtion
  &-actionsheet_toggle{
      transform: translate(0, 0);
  }
}